<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    // Select Service
    $('#serviceID').change(function(){
    console.log("Service Selected");
    let servicename =$("#serviceID").val();
    
    console.log(servicename);

    mydata = {servid:servicename}

    $.ajax({
        url: "{% url 'updateprice' %}",
        method:"POST",
        data:mydata,

        success: function(data){
            $("#serviceprice").val(data.service_price);
           
        },
    })
})


</script>