{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- Content Start -->
        {%include 'sidebar.html' %}

        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <!--<form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>-->
                {% if messages %}
                    {% for message in messages %}
        
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
        
                    {% endfor %}
    
                {% endif %}
    
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
            
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Bookings</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>

                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-3 px-3">
                <div class="row g-4">
                    <div class="col-sm-4 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Sale</p>
                                <h6 class="mb-0">{{ daily_sales }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Monthly Sales</p>
                                <h6 class="mb-0">{{ monthly_sales }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-users fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Customers</p>
                                <h6 class="mb-0">{{ customers }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-shopping-cart fa-3x text-primary"></i>
                            <ol class="breadcrumb"> 
                                <a href="{% url 'customers' %}"><li class="breadcrumb-item"> Make Sales</li></a>                             
                            </ol>
                            <div class="ms-3">
                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->

            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-10">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <h4>Last 30 Days Sales Summary</h4>
                                </li>
                            </ol>
                        </nav>
                    </div>
            
                </div>
            
                <div class="row">
                    <div class="col-md-6">
                        <canvas id="myChart" width="400" height="200"></canvas>
                    </div>
                    <div class="col-md-2">
                    </div>
            
                </div>
            </div>

                        <!-- Sales Chart Start
                        <div class="container-fluid pt-4 px-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-xl-6">
                                    <div class="bg-light text-center rounded p-4">
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <h6 class="mb-0">Sales in </h6>
                                            <a href="">Show All</a>
                                        </div>
                                        
                                        <canvas id="myChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>-->


            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Recent Sales</h6>
                        <a href=""></a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <!--<th scope="col"><input class="form-check-input" type="checkbox"></th>-->
                                    <th scope="col">Customer</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Service</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sale in page_obj %}
                                <tr>
                                    <!--<td><input class="form-check-input" type="checkbox"></td>-->
                                    <td>{{sale.customer_name}}</td>
                                    <td>{{sale.phone}}</td>
                                    <td>{{sale.services}}</td>
                                    <td>{{sale.amount}}</td>
                                    <td>{{sale.date_paid}}</td>
                                    <!--<td><a class="btn btn-sm btn-primary" href="">Detail</a></td>-->
                                </tr>
                                {% endfor %}

                            </tbody>
                            
                        </table>
                        
                    </div>
                    
                </div>

                <div class="pagination-container pt-2">
                    <div class="row">
        
                        <div class="col-md-9">
                            Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
                          </div>
                          <ul class="pagination align-right float-right mr-auto , col-md-3">
                            {% if page_obj.has_previous %}
                            <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
                            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                            {% endif %}
                      
                            {% if page_obj.has_next %}
                            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                            {% endif %}
                            </ul>

                    </div>
        
                </div>
            </div>

            
            <!-- Recent Sales End -->

            <script src="{% static 'elsiruser/js/stats.js' %}"></script>
            
{% endblock %}