{% extends 'base.html' %}
{% load static %}

{% block content %}
{%include 'sidebar.html' %}
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->

        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-10">
                <a href="{% url 'dashboard' %}" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-home"></i></h2>
                </a>
                <a href="{% url 'dashboard' %}" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-md-flex ms-4 mt-3">
                    <input class="form-control border-0" type="search" id="searchField" placeholder="Search">
                </form>
        </nav>

        {% if messages %}
        {% for message in messages %}

          <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{{message}}</strong> 
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        {% endfor %}

      {% endif %}

        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Recent Sales</h6>
                    <h5><a href="{% url 'customers' %}">Make Sales</a></h5>
                </div>
                <div class="app-table">
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <!--<th scope="col"><input class="form-check-input" type="checkbox"></th>-->
                                    <th scope="col">Service</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sale in page_obj %}
                                <tr>
                                    <!--<td><input class="form-check-input" type="checkbox"></td>-->
                                    <td>{{ sale.services_list|join:", " }}</td>
                                    <td>{{sale.phone}}</td>
                                    <td>{{sale.amount}}</td>
                                    <td>{{sale.date_paid}}</td>
                                    <!--<td><a class="btn btn-sm btn-primary" href="">Detail</a></td>-->
                                </tr>
                                {% endfor %}
    
                            </tbody>
                        </table>
                    </div>

                </div>

                <p class="no-results" style="display: none;">No results </p>

                <div class="table-output">
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <!--<th scope="col"><input class="form-check-input" type="checkbox"></th>-->
                                    <th scope="col">Service</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Details</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                               
                            </tbody>    
                        </table>
                    </div>
                </div>
            </div>

            <div class="pagination-container pt-2">
                <div class="row">
    
                    <div class="col-md-9">
                        Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
                      </div>
                      <ul class="pagination align-right float-right mr-auto , col-md-3">
                        {% if page_obj.has_previous %}
                        <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
                        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% endif %}
                  
                        {% if page_obj.has_next %}
                        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                        {% endif %}
                        </ul>

                </div>
    
            </div>
            
        </div>
        <!-- Recent Sales End -->

    
        <script src="{% static 'elsiruser/js/stat.js' %}"></script>
        <script src="{% static 'elsiruser/js/searchSales.js' %}"></script>
              
                
{% endblock %}